.contact-screen{
    background-image: url(/farmer.png);
    background-size: 400px;
    background-repeat: no-repeat;
    .section{
        align-items: center;
        padding: 30px;
        justify-content: center;
        .section-graphic{
            img{
                width: 300px;
                border-radius: 5px;
                box-shadow: 4px 6px 11px 6px #00000029;
            }
        }
        .right-section{
            margin-left: 50px;
            width: 40%;
            .section-header{
                font-size: 30px;
                color: white;
            }
            .section-txt{
                color: white;
                line-height: 30px;
                font-weight: 100;
                margin: 30px 0;
            }
            .white-btn{
                font-weight: 600;
                padding: 15px 30px;
                font-size: 12px;
            }
        }
    }
    
}
@media (max-width: $breakpoint-tablet) {
    .contact-screen{
        background-size: 460px;
        .section{
            margin-left: 10px;
            width: 90%;
            display: block;
            .right-section{
                width: 100%;
                margin-top: 20px;
                margin-left: 0;
                .section-header{
                    font-size: 26px;
                    text-align: center;
                }
                .white-btn{
                    margin: auto;
                }
            }
        }
    }
}