.footer-screen{
  min-height: 250px !important;
  flex-direction: row;
  align-items: center;
  margin: 20px 40px;
  justify-content: space-between;
  display: flex;
  .logo{
    img{
      width: 50px;  
    }
  }
  .s-header{
    color: $khula-charcoal;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
  }
  .contact{
    color: $khula-charcoal;
    margin: 20px;
    font-size: 14px;
    font-weight: 100;
    line-height: 26px;
    span{
      margin-right: 10px;
    }
  }
  .social-media{
    height: 78px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
  }
  .media-links{
    font-size: 20px;
    display: flex;
    color: $khula-charcoal;
    width: 150px;
    justify-content: space-between;
    a{
      color: $khula-charcoal;
      text-decoration: none;
    }
    a:hover{
      color: $khula-charcoal;
      text-decoration: none;
    }
    a:visited{
      color: $khula-charcoal;
      text-decoration: none;
    }
  }
  .document-links{
    font-size: 12px;
    display: flex;
    width: 200px;
    flex-direction: column;
    a{
      color: $khula-charcoal;
      text-decoration: none;
    }
    a:hover{
      color: $accent-green;
      text-decoration: none;
    }
    a:visited{
      color: $khula-green;
      text-decoration: none;
    }
  }
  .copyright{
    font-size: 12px;
    color: $accent-charcoal;
    margin-top: 20px;
  }
}
@media (max-width: $breakpoint-tablet) {
  .footer-screen{
    flex-direction: column;
    .logo{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 100px;  
      }
    }
    .copyright{
      font-size: 7px;
    }
    .contact{
      width: 200px;
    }
    .media-links{
      width: 70%;
      justify-content: space-around;
      a{
        margin: 0 5px;
      }
    }
  }
}