$truck-size:1000px;
$truck-mobile-size:550px;
$left-section-width: 500px;
$left-section-total-width: 700px;
$side-off:calc(100vh - #{$truck-size}) / 2;
$mobile-side-off: 60px;
$ratio: 318.25/1000;

$duration: 1.8s;
.landing-screen{
    height: calc(100vh - #{$header-height} - #{$section-navigation-height});
    align-items: center;
    display: flex;
    width: 100%;
    overflow: hidden;
    .left-section{
        margin-left: 200px;
        width: 500px;
        img{
            width: 300px;
        }
        .company-name{
            color: $header-links-fc;
            font-size: 12px;
            margin: 10px 0;
        }
        .company-description{
            font-size: 14px;
            color: $khula-charcoal;
            width: 300px;
            line-height: 24px;
        }
    }
    .right-section{
        position: relative;
        height: calc(#{$truck-size} * #{$ratio});
        img{
            width: $truck-size;
            left: calc(#{$side-off} - #{$left-section-total-width});
            position: absolute;
            -webkit-transition: all $duration ease-in-out;
            -moz-transition: all $duration ease-in-out;
            -ms-transition: all $duration ease-in-out;
            -o-transition: all $duration ease-in-out;
            transition: all $duration ease-in-out;
            &.animate{
                left: 0;
            }
        }

    }
}
@media (max-width: $breakpoint-tablet) {
    .landing-screen{
        height: calc(100vh - #{$header-mobile-height} - #{$section-navigation-mobile-height});
        padding-top: $header-mobile-height;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        .left-section{
            margin-left: $mobile-side-off;
            width: unset;
            text-align: left;
            img{
                width: 200px;
            }
            .company-name{
                color: $header-links-fc;
                font-size: 14px;
                margin: 10px 0;
            }
            .company-description{
                font-size: 16px;
                color: $khula-charcoal;
                width: 300px;
                line-height: 24px;
                letter-spacing: 1px;
            }
        }
        .right-section{
            height: calc(#{$truck-mobile-size} * #{$ratio});
            width: 100%;
            padding-top: 100px;
            padding-bottom: 60px;
            img{
                width: $truck-mobile-size;
                left: calc(-2 * #{$truck-mobile-size} / 3);
                position: absolute;
                &.animate{
                    left: $mobile-side-off;
                }
            }
        }
    }
    
}

@media only screen and (min-width: 1441px){
    .landing-screen{
        margin: 0;
        max-width: 1440px;
        margin: auto;
        overflow: unset;
    }
}