$overlap:150px;
.products-screen{
    position: relative;
    .details-container{
        .section{
            padding: 50px;
            padding-bottom: $overlap;
        }
        .left-section{
            flex: 1;
            .section-name{
                color: $accent-grey-light;
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 16px;
            }
            .header-txt{
                color: $white;
                &.h1{
                    font-size: 52px;
                    font-weight: 600;
                }
                &.h2{
                    font-size: 28px;
                    font-weight: 500;
                }
            }
            .left-section-txt{
                line-height: 20px;
                color:#85be87;
                font-size: 12px;
            }
        }
        .input-app-container{
            flex: 1;
            z-index: 1;
            padding-top: 50px;
            .input-app{
                height: 600px;
            }
        }
        .right-section{
            flex: 1;
            margin-top: 50px;
            .arrow-keys{
                color: $white;
                margin-bottom: 30px;
                .icon{
                    background-color: #ffffff52;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 20px;
                    margin-right: 10px;
                }
                .key-label{
                    font-size: 14px;
                }
            }
            .section-headers{
                justify-content: space-between;
                font-weight: 500;
                margin: 20px 0 30px;
            }
            .right-section-txt{
                line-height: 20px;
                color: $white;
                font-size: 12px;
                width: 65%;
            }
            .action-btns{
                margin: 40px 0;
                .white-btn{
                    background-color: white;
                    padding: 10px 15px;
                    border-radius: 8px;
                    font-size: 10px;
                    color: green;
                    margin-right: 20px;
                }
                .transparent-btn{
                    font-size: 10px;
                    padding: 10px 15px;
                    color: white;
                    span{
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    .section-color{
        height:200px;
        width:100%;
        margin-top: -$overlap;
        background-color: #EBF2EB;
    }
}