.navbar-container {
    background-color: $white;
    height: 4.5rem;
    width: $full-screen;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    align-items: center;
    cursor: pointer;

    .navbar-links {
        display: flex;
        flex-direction: row;
        flex:1;

        .services-link {
            position: relative;
            display: inline-block;
        }
        .services-dropdown {
            display: none;
            position: absolute;
            background-color: $white;
            width: 10rem;
            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
            z-index: 1;
            border-radius: $eight-px;

            .dropdown-item {
                height:$sixteen-px;
                border-bottom: 1px solid rgba(151,151,151,0.4);
                padding-bottom: $sixteen-px;
                padding-top: $sixteen-px;
                align-items: center;
                margin-block-end: unset;
                margin-block-start: unset;
                padding-left: $sixteen-px;
            }

            p:last-child{
                border-bottom:none;
            }
        }
        .services-link:hover .services-dropdown {
            display: block;
            font-size: 0.7rem;
            margin-top: $eight-px;
        }
        .margin-left {
            margin-left: 2.6rem;
        }
    }
    .navbar-btn {
        display: flex;
        flex-direction: row;   
        width: 6.2rem;
        height: $thirty-two-px;
        margin-right: 5rem;
        background-color: $khula-green;
        align-items: center;
        border-radius: $eight-px;
        color: $white;

        .btn-txt {
            margin: auto;
            font-size: 0.7rem;
        }
    }
}