.client-app-container{
    .client-app-info{
        justify-content: flex-start;
        z-index: 2;
    }
    .client-app-example{
        .app-img-background{
            border-bottom: 430px solid rgb(52,110,61);
            border-right: 360px solid transparent;
            padding-top: 3rem;
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .client-app-container{
        flex-direction: column-reverse !important;
    }
}