$nav-btn-height:2.2rem;
.header-container {
    background-color: $white;
    height: $header-height;
    width: $full-screen;
    border-bottom: 0.5pt solid rgba(151,151,151,0.28 );
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index: 100;

    @media only screen and (min-width: 1441px){
        .header-contents{
            max-width: 1440px;
            margin: auto;
        }
    }
    .header-contents{
        display: flex;
        flex-direction: row;
        width: $full-screen;
        font-family: 'Roboto', sans-serif;
        font-size: 0.9rem;
        align-items: center;
        justify-content: space-between;
        .header-left {
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .logo {    
                margin-left: 3.5rem;
                margin-right: 14rem;
            }
            .search {
                height: $nav-btn-height;
                border-radius: $border-radius-std;
                border: solid 1px $accent-grey;
                width: 24rem;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 0.6rem;
    
                .search-categories{
                    font-family: 'Roboto', sans-serif;
                    font-size: 0.7rem;
                    border: 0 !important;
                    box-shadow: none !important;
                    background-color: $bg-color;
                    padding: 0 $sixteen-px 0 0;
                    border-radius: $border-radius-std 0 0 $border-radius-std;
                    
                    .react-dropdown-select-dropdown{
                        top: -0.1rem;
                        border-radius: $border-radius-std 0 $border-radius-std $border-radius-std;
                        background-color: $bg-color;
                        color: $khula-charcoal;
                    }
                    .react-dropdown-select-content{
                        margin-left: $twenty-four-px;
                        width:4.5rem;
                    }
                    .react-dropdown-select-item{
                        border-bottom: 1px solid rgb(223, 220, 220);
                    }
                    .react-dropdown-select-item:first-child{
                        height: 1.2rem;
                        margin-top: $eight-px;
                    }
                    .react-dropdown-select-item-selected{
                        background:  $bg-color; 
                        color: unset;
                    }
                }
                .search-content {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
    
                    .down-ic {
                        margin-left: $sixteen-px;
                    }
                    .search-text {
                        border: white;
                        width: 10rem;
                        margin-left: $twenty-four-px;
                    }
                    .search-text:focus{
                        outline: unset;
                    }
                    .search-ic {
                        font-size: 0.7rem;
                        color:$khula-charcoal;
                        margin-left: $thirty-two-px;
                        cursor: pointer;
                    } 
                }
            }
        }
        .links {
            display: inline-flex;
            flex-direction: row;  
            width: fit-content;
            justify-content: space-between;
            align-items: center;
            margin-right: 2.6rem;
            .navbar-container{
                cursor: unset;
                .navbar-links{
                    .link{
                        margin-right: $sixteen-px;
                        width: 3.4rem;
                        position: relative;
                        height: $nav-btn-height;
                        .nav-dropdown-title{
                            height: $nav-btn-height;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            position: absolute;
                            cursor: pointer;
                        }
                        .nav-dropdown{
                            position: absolute;
                            top: $nav-btn-height;
                            width: 8rem;
                            height: 0rem;
                            border-radius: 0px 5px 5px 5px;
                            background-color: $bg-color;
                            color: $khula-charcoal;
                            overflow: hidden;
                            -webkit-transition: all 0.3s ease-in-out;
                            -moz-transition: all 0.3s ease-in-out;
                            -ms-transition: all 0.3s ease-in-out;
                            -o-transition: all 0.3s ease-in-out;
                            transition: all 0.3s ease-in-out;
                            box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.5);
                            &.right-aligned{
                                right:0;
                                border-radius: 5px 0px 5px 5px;
                                left: 0rem;
                            }
                            &.open{
                                height: 3rem;
                            }
                            .nav-dropdown-item{
                                display: flex;
                                flex-direction: row;
                                height: 3rem;
                                align-items: center;
                                cursor: pointer;
                                color: $khula-charcoal;
                                text-decoration: none;
                                &:hover{
                                    color: $khula-green;
                                    background-color: rgba(172, 231, 204, 0.28);
                                }
                                .item-name{
                                    flex: 1;
                                    padding-left: 0.35rem;
                                    padding-right: 0.35rem;
                                }
                                .item-icon{
                                    font-size: $sixteen-px;
                                    padding-left: 0.35rem;
                                    padding-right: 0.35rem;
                                }
                            }
                        }
                    }
                }
                .navbar-btn{
                    margin-right: 0;
                    height: $nav-btn-height;
                }
            }
    
            .links-ic {
                display: flex;
                justify-content: center;
                align-items: center;
    
                .cart-ic {
                    font-size: 1.4rem !important; 
                    margin-left: $sixteen-px;
                }
                .truck-ic {
                    font-size: 1.2rem !important;  
                    margin-left: $sixteen-px;    
                }
            }
        }
    }

}

@media (max-width: $breakpoint-tablet) {
    .header-container{
        .header-contents{
            padding: $thirty-two-px 0.8rem;
            .header-left{
                .logo{
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            .links {
                width: fit-content;
                margin: 0;
                .navbar-container{
                    .navbar-links{
                        .link{
                            margin-right: $sixteen-px;
                        }
                    }
                }
            }
        }
    }
}