$nav-btn-height:2.2rem;
.header-container {
    background-color: $white;
    font-size: $header-links-fs;
    color: $header-links-fc;
    position: sticky;
    top:0;
    z-index: 100;
    height: $header-height;

    .header-contents{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .container {
            display: inline-block;
            cursor: pointer;
            margin-right: 30px;
            margin-top: 5px;
          }
          
        .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: $khula-green;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 10px;
        }
          
        .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 9px);
        transform: rotate(-45deg) translate(-8px, 9px);
        }
          
        .change .bar2 {opacity: 0;}
          
        .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-3px, -5px);
        transform: rotate(45deg) translate(-3px, -5px);
        }
        .show-menu{
            box-shadow: 1px 0px 3px #4c4c4b80;
            border-radius: 3px;
            position: absolute;
            right: 10px;
            height: 100px;
            display: block;
            background-color: $white;
            .nav-dropdown-title{
                a{
                  color: #8F8F8F;
                    text-decoration: none;  
                }
                padding: 5px 10px;
                border-bottom: solid 1px #c7c7c7;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        .hide-menu{
            display: none;
        }
        .header-left {
            width: 22%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .logo {
                margin: 16px 0;
                img{
                    width: 100px;
                }
            }
            
        }
        .navbar-links{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-right: 50px;
            .action-call{
                width: fit-content;
                margin-right: 65px;
                .nav-btn{
                    background-color: $khula-green;
                    margin: 0;
                    height: 35px;
                    font-size: 10px;
                    padding: 0 16px;
                    margin-left: 30px;
                    a{
                        color: inherit;
                        text-decoration: none;
                        // height: 35px;
                    }
                    span{
                        margin-left:10px;
                        font-weight: bold;
                    }
                    .emoji{
                        font-size: 18px;
                        margin-right: 5px;
                        margin-left:unset;
                    }
                }
                .secondary{
                    background-color: $white;
                    color: $khula-green;
                    border: solid 1px $khula-green;
                }
            }
            .link{
                height: 1rem;
                margin: 0 20px;
                .nav-dropdown-title{
                    height: 1rem;
                    display: flex;
                    align-items: flex-end;
                    cursor: pointer;
                }
                .nav-dropdown{
                    background-color: $bg-color;
                    box-shadow: 0px 4px 4px 0px rgba(61,61,61,0.5);
                    height: 0rem;
                    border-radius: 0px 0px 5px 5px;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    -ms-transition: all 0.3s ease-in-out;
                    -o-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    overflow: hidden;
                    position: absolute;
                    .nav-dropdown-item{
                        color: $khula-charcoal;
                        text-decoration: none;
                        display: flex;
                        height: 2rem;
                        align-items: center;
                        padding: 2px 10px;
                    
                        &:hover{
                            color: $khula-green;
                            text-decoration: none;
                            background-color: rgba(172, 231, 204, 0.28);
                        }
                    }
                    .item-icon{
                        margin-left: 5px;
                    }
                    &.open{
                        height: 5rem;
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1441px){
        .header-contents{
            max-width: 1440px;
            margin: auto;
        }
    }

}

@media (max-width: $breakpoint-tablet) {
    .header-container{
        height: $header-mobile-height;
        position: fixed;
        right: 0;
        left: 0;
        .header-contents{
            margin: 0 5%;
            .header-left{
                .logo{
                    margin: 16px 0;
                    img{
                      width: 90%;  
                    }
                }
            }
            .navbar-links{
                padding-right: 0px;
                .link{
                    height: $header-mobile-height / 3;
                }
            }
        }
    }
}