.testimonies-screen{
    *t {
        border: 1px solid white;
    }
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #001d01;
    padding: 80px 0px;
    .header-text{
        color: white;
        font-weight: 600;
    }
    .first-line-text {
        opacity: .6;
        font-size: 12.5px;
        margin-bottom: 1%;
    }
    .title-line-text {
        margin-bottom: 3%;
        text-align: center;
        width: 30%;
        font-size: 24px;
        //opacity: .9;

    }
    .tesimonies-container{
        position: relative;
        width: 55%;
        height: 500px;
        overflow: hidden;
    }
}


.testimonial-item-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    .testimonial-left-panel {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .quoatation-marks{
            font-size: 28px;
            font-style: italic;
            color: rgb(124, 238, 58);
            opacity: .8;
        }
        .testimonial-details{
            width: 80%;
            color: white;
            font-weight: 600;
            opacity: .9;
        }
        .testimonial-message{
            font-size: 19px;
            line-height: 32px;
            margin-bottom: 12%;
        }
        .testimonial-name{
            font-size: 14px;
            margin-bottom: 2%;
            color: rgb(124, 238, 58);
        }
        .testimonial-position{
            font-size: 12px;
            opacity: .8;
        }
    }
    .testimonial-right-panel {
        width: 50%;
        .testimonial-image {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
        }
    }
}