.farmer-container{
    font-family: 'Roboto', sans-serif;
    padding-top: 1.5rem;
    .farmer-header{
        color: $khula-charcoal;
        font-size: 1.6rem;
        width: 27rem;
        margin:auto;
        text-align: center;
    }
    .farmer-description{
        font-size: 0.8rem;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 0.6rem 0;
        margin-bottom: 20px;
        color: $accent-grey;
    }
    .market-categories{
        font-size: 1.25rem;
        color: $white;
        display: flex;
        align-items: center;
        flex-direction: column;
        .row{
            display: flex;
            flex-direction: row;
            width: 100%;
            .quadrant{
                display: flex;
                flex-direction: row;
                width: 50%;
                .category-item-tile{
                    width: 50%;
                    display: inline-block;
                    position: relative;
                    &:after {
                        padding-top: 100%;
                        display: block;
                        content: '';
                    }
                    .react-card-flip{
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        .flip-tile{
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            right: 0;
                            left: 0;
                        }
                        .img-tile {
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: flex;
                            flex: row;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                        .back-tile{
                            background-color: #FFF;
                            box-shadow: 0px 1px 4px #00000029;
                            color: #3E3E3E;
                            font-size: 18px;
                            font-weight: 100;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            text-align: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: flex;
                            flex: row 1;
                            justify-content: center;
                            align-items: center;

                            .navbar-btn{
                                height: 2.2rem;
                                display: flex;
                                flex-direction: row;
                                width: 6.2rem;
                                margin-right: 5rem;
                                background-color: #387C3F;
                                align-items: center;
                                border-radius: 0.5rem;
                                color: #FFF;
                                font-size: 12px;
                                justify-content: center;
                                margin: 1rem auto;
                                @media (max-width: $breakpoint-tablet) {
                                    height: 1.7rem;
                                    width: 4rem;
                                    font-size: 8px;
                                }
                            }
                            &.fungicide{
                                background-image: url('/fungicide.png');
                            }
                            .content{
                                background-color: rgba(255, 255, 255, 0.55);
                                height: 20rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                padding: 1rem;
                            }
                        }

                    }
                }
                .img-tiles{
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    flex: row;
                    justify-content: center;
                    align-items: center;
                    height: 22rem;
                    width: 22.5rem;
                }
                .fungicide{
                    background-image: url('/fungicide.png');
                }
                .herbicide{
                    background-image: url('/herbicide.png');
                }
                .soil{
                    background-image: url('/soil.png');
                }
                .plant-growth{
                    background-image: url('/plantGrowth.png');
                }
                .seed-treatment{
                    background-image: url('/seedTreatment.png');
                }
                .packhouse{
                    background-image: url('/packHouse.png');
                }
                .animal-health{
                    background-image: url('/animalHealth.png');
                }
                .other{
                    background-image: url('/other.png');
                }
            }
        }
        
    }
}
@media (max-width: $breakpoint-tablet) {
    .farmer-container{
        .farmer-header{
            font-size: 1.4rem;
            width: 100%;
        }
        .farmer-description{
            font-size: 0.8rem;
        }
        .market-categories{
            .row{
                display: flex;
                flex-direction: column;
                .quadrant{
                    width: 100%;
                    .img-tile {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}