.footer-list{
    width: 9.25rem;
    .list-title{
        font-size: 0.87rem;
    }
    ul{

        padding-inline-start: 0;
        line-height: 11px;
    }
    li{
        font-size: 0.6rem;
        font-weight: 100;
        list-style-type: none;
    }
}