.client-container{
    padding: $twenty-four-px 0 0 2.5rem;
    
    .category-container{
        width: $full-screen;
        position: relative;
        height: 16rem;
        margin: auto;

        .container-child{
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 5px;
            overflow: hidden;
            margin: 0 0 $twenty-four-px 0;
        }
        .bg-image-container{
            z-index: 1;
            .bg-gradient-container{
                width: 25%;
                height: $full-screen;
                position: relative;
                .bg-gradient-container-child{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
                .bg-img{
                    z-index: 0;
                    width: 99%;
                    height: $full-screen;
                    object-fit: cover;
                }
                .bg-gradient{
                    z-index: 1;
                }
            }
        }
        .bg-gradient-overlay{
            z-index: 2;
            width: 36rem;
        }
        .content-container{
            z-index: 3;
            display: flex;
            font-family: 'Roboto', sans-serif;
            color: $white;

            .category-left-content{
                width: 18%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .category-btn
                {
                    width:5.6rem;
                    height: $thirty-px;
                    background-color: $khula-charcoal;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.7rem;
                    font-weight: 100;
                }
                .category-title{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.8rem;
                    margin: $sixteen-px 0;
                }
                @media (max-width: $breakpoint-tablet) {
                    .category-title{
                        font-size: 1.2rem;
                    }
                    .category-btn{
                        width: 5rem;
                    }
                }
            }
            .category-right-content{
                align-items: center;
                display: flex;
                width: 88%;
                .category-products{
                    display: flex;
                    flex-direction: row;
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }

        }
    }
    .slick-slider {
        display: grid;
        .slick-list{
            max-width: 1100px;
        }
        .slick-arrow{
            &:before{
                color: $khula-charcoal
            }
        }
    }
}
.modal-btns{
    display: flex;
    justify-content: center;
    .btn{
        width: 20rem;
        margin: 2rem 0.5rem;
    }
}
.request-modal-form{
    margin: auto;
}
.request-modal-title{
    font-size: 20px;
    margin: 8px;
    color: $khula-charcoal;
}
.request-modal-content{
    color: $accent-grey;
}
.request-modal-image{
    .illus{
        width: 100px;
        height: auto;
        object-fit: contain;
    }

}
@media (max-width: $breakpoint-tablet) {
    .client-container{    
        padding: $twenty-four-px 0 0 $eight-px;
        .category-container{
            .bg-image-container{
                .bg-gradient-container{
                    width: $half-screen;
                    .bg-gradient{
                        z-index: 1;
                    }
                }
            }
            .bg-gradient-overlay{
                width: 20rem;
            }
            .content-container{
                .category-left-content{
                    width: 30%;
                }
                .category-right-content{
                    width: 75%;
                }
            }
        }
    }

    .request-modal-form{
        display: flex;
        flex-direction: column;
        width: $half-screen;
        margin: auto;
        &.form{
            width: $full-screen;
            .text-input{
                width: $full-screen;
                
            }
        }
    }
    .request-modal-image{
        .illus{
            width: 80px;
        }
    
    }
    .request-modal-title{
        font-size: 16px;
    }
}