.fresh-produce-benefits-screen{
    padding: 50px 10px;
    .detail-container{
        .icon-container{
            background-color: $accent-green;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            .icon{
                color: $khula-green;
                font-size: 28px;
            }
        }
    }
}