.google-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .iframe{
        border-width: unset;
        border-style: unset;
        height: 100vh;
        width: 100%;
    }
}

@media (max-width: $breakpoint-tablet) {
    .google-form-container{
        height: calc(100vh - #{$header-mobile-height});
        margin-top: $header-mobile-height;
    }
}