//company colors
$khula-charcoal:#3E3E3E;
$khula-green: #387C3F;

//accents
$accent-grey-light:#C7C7C7;
$white:#FFF;
$accent-charcoal:#646464;
$accent-grey:#8F8F8F;

//screen components
$error-txt-red:#F71202;
$bg-color:#F7F7F7;
