//company colors
$khula-charcoal:#3E3E3E;
$khula-green: #387C3F;

//components
$header-links-fc:#8F8F8F;

//accents
$accent-grey-light:#C7C7C7;
$white:#FFF;
$accent-charcoal:#646464;
$accent-grey:#8F8F8F;

//screen components
$error-txt-red:#F71202;
$bg-color:#F7F7F7;

$khula-green: #387C3F;
$khula-green-alpha: #387C3F1A;
$dark-text: #282727;
$light-green: #C4E2C7;
$secondary-text: #495463;
$accent-green: #3DC64B;
$secondary-accent-green: #E8EEE8;
$accent-grey:#C7C7C7;
$secondary-accent-grey: #E8E8E8;
$page-background: #F9FCF9;
$white:#FFF;
$grey:#3E3E3E;
$charcoal:#646464;
$secondary-grey:#8F8F8F;
$tertiary-grey:#9B9B9B;
$heading-grey:#4A4A4A;
$heading-grey-secondary:#5F5F5F;
$heading-grey-tertiary:#727272;
$error-txt-red:#F71202;
$bg-color:#F7F7F7;
$orange:#FF6C00;
$pink:#FB4467;
$text-grey:#B1B1B1;
$light-text-grey: #707070;
$banner-dark-orange:#F5A724;
$banner-orange:#FEF6E9;