$eight-px:0.5rem;
$ten-px:0.625rem;
$sixteen-px:1rem;
$eighteen-px:1.125rem;

//twenties
$twenty-px:1.25rem;
$twenty-four-px:1.5rem;
$twenty-five-px:1.56rem;

//thirties
$thirty-px:1.875rem;
$thirty-two-px:2rem;

//forties
$forty-px:2.5rem;

//fifties
$fifty-px:3.125rem;

//sixties
$sixty-px:3.75rem;

//screen
$half-screen: 50%;
$full-screen: 100%;
$breakpoint-tablet: 768px;
$border-radius-sm: 6px;
$border-radius-std: 8px;


//buttons
$btn-height: 3.2rem;
$btn-width:20rem;