.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    margin: auto;
    margin-top: 1rem;
    .MuiInputBase-input {
        height: 0.8rem;
    }
    .MuiOutlinedInput-input {
        padding: 18.5px 14px;
        font-size: 18px;
    }
    .MuiTypography-body1 {
        font-size: 0.8rem;
        font-weight: 100;
    }
    .form-header{
        font-size: 1.2rem;
        font-weight: 200;
        text-align: left;
    }
    .text-input{
        width: 20rem;
        height: $sixty-px;
        margin-top: 1rem;
    }
    .form-helper-btns{
        display: flex;
        justify-content: space-between;
        font-weight: 100;
        font-size:13px;
        margin-top: $eight-px;
        cursor: pointer;
        .forgot-pswd{
            margin-top: $ten-px;
            cursor: pointer;
            
        }
    }
    .MuiFormLabel-root {
        &.Mui-focused{
            color: $khula-green; 
        }
        font-size: 0.8rem;
    }
    .MuiOutlinedInput-root{
        &.Mui-focused{
            .MuiOutlinedInput-notchedOutline{
                border-color: $khula-green; 
            }
        }
    }
    .MuiCheckbox-colorPrimary{
        &.Mui-checked{
            color: $khula-green; 
        }
    }
    .MuiFormHelperText-contained {
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .MuiFormHelperText-root{
        color: $error-txt-red;
        margin-left: 5px;
        font-size: 0.75rem;
    }
}