.main-title-text{
    font-size: 25px;
    font-weight: 600;
    color: $khula-charcoal;
}

.main-subtitle-text{
    color: $header-links-fc;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}