@import "./_colors.scss";
@import "./_dimensions.scss";
@import "./_material.scss";
@import "../../screens/Landing/Header/Header.scss";
@import "../../screens/Landing/Navbars/Navbar.scss";
@import "../../screens/Landing/Navbars/SecondaryNavbar.scss";
@import "../../screens/Landing/Banner/Banner.scss";
@import "../../components/ProductCard/ProductCard.scss";
@import "../../components/Loader/Loader.scss";
@import "../../screens/Landing/FarmerApp/FarmerApp.scss";
@import "../../screens/Landing/FarmerMarketPlace/FarmerMarketPlace.scss";
@import "../../screens/Landing/ClientApp/ClientApp.scss";
@import "../../screens/Landing/ClientApp/AppAd.scss";
@import "../../screens/Landing/ClientMarketPlace/ClientMarketPlace.scss";
@import "../../screens/Landing/Footer/Footer.scss";
@import "../../components/ListItems/ListItems.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "../../components/Button/Button.scss";
@import "../../components/Modal/Modal.scss";


.green{
    color: $khula-green;
}
.row{
    display: flex;
    flex-direction: row;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.center{
    margin: auto;
}
.pointer{
    cursor: pointer;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}
.center-text{
    text-align: center;
}
