@import url(~slick-carousel/slick/slick.css);
@import url(~slick-carousel/slick/slick-theme.css);
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20rem;
  margin: auto;
  margin-top: 1rem; }
  .form .MuiInputBase-input {
    height: 0.8rem; }
  .form .MuiOutlinedInput-input {
    padding: 18.5px 14px;
    font-size: 18px; }
  .form .MuiTypography-body1 {
    font-size: 0.8rem;
    font-weight: 100; }
  .form .form-header {
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left; }
  .form .text-input {
    width: 20rem;
    height: 3.75rem;
    margin-top: 1rem; }
  .form .form-helper-btns {
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    font-size: 13px;
    margin-top: 0.5rem;
    cursor: pointer; }
    .form .form-helper-btns .forgot-pswd {
      margin-top: 0.625rem;
      cursor: pointer; }
  .form .MuiFormLabel-root {
    font-size: 0.8rem; }
    .form .MuiFormLabel-root.Mui-focused {
      color: #387C3F; }
  .form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #387C3F; }
  .form .MuiCheckbox-colorPrimary.Mui-checked {
    color: #387C3F; }
  .form .MuiFormHelperText-contained {
    margin-right: 0px;
    margin-bottom: 0px; }
  .form .MuiFormHelperText-root {
    color: #F71202;
    margin-left: 5px;
    font-size: 0.75rem; }

.header-container {
  background-color: #FFF;
  height: 5rem;
  width: 100%;
  border-bottom: 0.5pt solid rgba(151, 151, 151, 0.28);
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100; }
  @media only screen and (min-width: 1441px) {
    .header-container .header-contents {
      max-width: 1440px;
      margin: auto; } }
  .header-container .header-contents {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    align-items: center;
    justify-content: space-between; }
    .header-container .header-contents .header-left {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .header-container .header-contents .header-left .logo {
        margin-left: 3.5rem;
        margin-right: 14rem; }
      .header-container .header-contents .header-left .search {
        height: 2.2rem;
        border-radius: 8px;
        border: solid 1px #8F8F8F;
        width: 24rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 0.6rem; }
        .header-container .header-contents .header-left .search .search-categories {
          font-family: 'Roboto', sans-serif;
          font-size: 0.7rem;
          border: 0 !important;
          box-shadow: none !important;
          background-color: #F7F7F7;
          padding: 0 1rem 0 0;
          border-radius: 8px 0 0 8px; }
          .header-container .header-contents .header-left .search .search-categories .react-dropdown-select-dropdown {
            top: -0.1rem;
            border-radius: 8px 0 8px 8px;
            background-color: #F7F7F7;
            color: #3E3E3E; }
          .header-container .header-contents .header-left .search .search-categories .react-dropdown-select-content {
            margin-left: 1.5rem;
            width: 4.5rem; }
          .header-container .header-contents .header-left .search .search-categories .react-dropdown-select-item {
            border-bottom: 1px solid #dfdcdc; }
          .header-container .header-contents .header-left .search .search-categories .react-dropdown-select-item:first-child {
            height: 1.2rem;
            margin-top: 0.5rem; }
          .header-container .header-contents .header-left .search .search-categories .react-dropdown-select-item-selected {
            background: #F7F7F7;
            color: unset; }
        .header-container .header-contents .header-left .search .search-content {
          display: flex;
          flex-direction: row;
          align-items: center; }
          .header-container .header-contents .header-left .search .search-content .down-ic {
            margin-left: 1rem; }
          .header-container .header-contents .header-left .search .search-content .search-text {
            border: white;
            width: 10rem;
            margin-left: 1.5rem; }
          .header-container .header-contents .header-left .search .search-content .search-text:focus {
            outline: unset; }
          .header-container .header-contents .header-left .search .search-content .search-ic {
            font-size: 0.7rem;
            color: #3E3E3E;
            margin-left: 2rem;
            cursor: pointer; }
    .header-container .header-contents .links {
      display: inline-flex;
      flex-direction: row;
      width: fit-content;
      justify-content: space-between;
      align-items: center;
      margin-right: 2.6rem; }
      .header-container .header-contents .links .navbar-container {
        cursor: unset; }
        .header-container .header-contents .links .navbar-container .navbar-links .link {
          margin-right: 1rem;
          width: 3.4rem;
          position: relative;
          height: 2.2rem; }
          .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown-title {
            height: 2.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            cursor: pointer; }
          .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown {
            position: absolute;
            top: 2.2rem;
            width: 8rem;
            height: 0rem;
            border-radius: 0px 5px 5px 5px;
            background-color: #F7F7F7;
            color: #3E3E3E;
            overflow: hidden;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5); }
            .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown.right-aligned {
              right: 0;
              border-radius: 5px 0px 5px 5px;
              left: 0rem; }
            .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown.open {
              height: 3rem; }
            .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown .nav-dropdown-item {
              display: flex;
              flex-direction: row;
              height: 3rem;
              align-items: center;
              cursor: pointer;
              color: #3E3E3E;
              text-decoration: none; }
              .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown .nav-dropdown-item:hover {
                color: #387C3F;
                background-color: rgba(172, 231, 204, 0.28); }
              .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown .nav-dropdown-item .item-name {
                flex: 1;
                padding-left: 0.35rem;
                padding-right: 0.35rem; }
              .header-container .header-contents .links .navbar-container .navbar-links .link .nav-dropdown .nav-dropdown-item .item-icon {
                font-size: 1rem;
                padding-left: 0.35rem;
                padding-right: 0.35rem; }
        .header-container .header-contents .links .navbar-container .navbar-btn {
          margin-right: 0;
          height: 2.2rem; }
      .header-container .header-contents .links .links-ic {
        display: flex;
        justify-content: center;
        align-items: center; }
        .header-container .header-contents .links .links-ic .cart-ic {
          font-size: 1.4rem !important;
          margin-left: 1rem; }
        .header-container .header-contents .links .links-ic .truck-ic {
          font-size: 1.2rem !important;
          margin-left: 1rem; }

@media (max-width: 768px) {
  .header-container .header-contents {
    padding: 2rem 0.8rem; }
    .header-container .header-contents .header-left .logo {
      margin-left: 0;
      margin-right: 0; }
    .header-container .header-contents .links {
      width: fit-content;
      margin: 0; }
      .header-container .header-contents .links .navbar-container .navbar-links .link {
        margin-right: 1rem; } }

.navbar-container {
  background-color: #FFF;
  height: 4.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  align-items: center;
  cursor: pointer; }
  .navbar-container .navbar-links {
    display: flex;
    flex-direction: row;
    flex: 1; }
    .navbar-container .navbar-links .services-link {
      position: relative;
      display: inline-block; }
    .navbar-container .navbar-links .services-dropdown {
      display: none;
      position: absolute;
      background-color: #FFF;
      width: 10rem;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
      z-index: 1;
      border-radius: 0.5rem; }
      .navbar-container .navbar-links .services-dropdown .dropdown-item {
        height: 1rem;
        border-bottom: 1px solid rgba(151, 151, 151, 0.4);
        padding-bottom: 1rem;
        padding-top: 1rem;
        align-items: center;
        margin-block-end: unset;
        margin-block-start: unset;
        padding-left: 1rem; }
      .navbar-container .navbar-links .services-dropdown p:last-child {
        border-bottom: none; }
    .navbar-container .navbar-links .services-link:hover .services-dropdown {
      display: block;
      font-size: 0.7rem;
      margin-top: 0.5rem; }
    .navbar-container .navbar-links .margin-left {
      margin-left: 2.6rem; }
  .navbar-container .navbar-btn {
    display: flex;
    flex-direction: row;
    width: 6.2rem;
    height: 2rem;
    margin-right: 5rem;
    background-color: #387C3F;
    align-items: center;
    border-radius: 0.5rem;
    color: #FFF; }
    .navbar-container .navbar-btn .btn-txt {
      margin: auto;
      font-size: 0.7rem; }

.secondary {
  margin: auto;
  flex: unset !important; }
  .secondary .padding-md {
    padding: 0 2rem; }

.border {
  border-bottom: solid 1px #979797; }

.banner-container {
  position: relative;
  height: 20rem; }
  .banner-container .banner-img {
    position: absolute;
    display: block;
    width: 100%;
    height: 20rem;
    text-decoration: none;
    overflow: hidden;
    object-fit: cover;
    object-position: left; }
  .banner-container p {
    margin-block-start: 0;
    margin-block-end: 0; }
  .banner-container .banner-txt {
    position: absolute;
    z-index: 0;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    padding-top: 3rem;
    padding-left: 2.6rem;
    line-height: 2rem; }
    .banner-container .banner-txt .lrg-txt {
      font-size: 1.5rem; }
    .banner-container .banner-txt .sml-txt {
      font-size: 1.25rem; }
  .banner-container .app-store-btns {
    z-index: 1;
    position: absolute;
    padding-top: 1.5rem;
    padding-left: 2.6rem;
    top: 11rem; }
    .banner-container .app-store-btns .android-btn {
      padding-left: 2px; }

.product-card {
  height: 13.7rem;
  width: 95%;
  background-color: #F7F7F7;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 0.1rem; }
  .product-card .title {
    font-size: 26px;
    color: #646464;
    margin: 1rem; }
  .product-card .content {
    padding: 0 3rem;
    color: #646464; }
  .product-card .btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .product-card .btns .btn {
      width: 20rem;
      font-weight: 100; }
      .product-card .btns .btn:nth-child(2) {
        background-color: #FFF;
        color: #387C3F;
        border: solid 1px #387C3F; }
  .product-card .btn {
    width: 20rem; }
  @media (max-width: 768px) {
    .product-card {
      margin: 0; } }
  .product-card .product-name {
    font-size: 1.1rem;
    color: #3E3E3E;
    padding: 0.3rem;
    font-weight: 400;
    margin-top: 10px;
    text-transform: capitalize; }
  .product-card .product-details {
    flex: 1;
    display: flex;
    flex-direction: column; }
    .product-card .product-details .product-img-container {
      flex: 1; }
      .product-card .product-details .product-img-container .product-img {
        height: 5rem;
        width: auto;
        object-fit: contain;
        display: unset; }
    .product-card .product-details .product-price {
      color: #387C3F;
      font-size: 0.88rem;
      margin-top: 0.5rem; }
    .product-card .product-details .product-qty {
      color: #3E3E3E;
      font-size: 0.88rem;
      margin-bottom: 0.8rem; }
  .product-card .product-btns {
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    border-radius: 0 0 6px 6px; }
    .product-card .product-btns .bid-btn {
      background-color: #387C3F;
      color: #FFF;
      border-radius: 0 0 0 6px; }
    .product-card .product-btns .farmers-btn {
      background-color: #FFF;
      color: #387C3F;
      border-radius: 0 0 6px 0; }
    .product-card .product-btns .request-btn {
      background-color: #387C3F;
      color: #FFF;
      border-radius: 0 0 6px 6px; }
    .product-card .product-btns .product-btn {
      flex: 1;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.8rem;
      border: solid 0.5px #387C3F; }

@media (max-width: 768px) {
  .title {
    font-size: 12px;
    margin: 0.5rem; }
  .illus {
    width: 80px; }
  .content {
    padding: 0;
    font-size: 9px; }
  .btns .btn {
    width: 12rem;
    height: 1.5rem;
    border-radius: 3px;
    margin-top: 1rem;
    font-size: 0.7rem; } }

.spinner-container {
  text-align: center; }
  .spinner-container .spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    width: 2em;
    height: 2em; }
    .spinner-container .spinner .path {
      stroke: #387C3F;
      stroke-linecap: round;
      -webkit-animation: dash 1.5s ease-in-out infinite;
      animation: dash 1.5s ease-in-out infinite; }
    .spinner-container .spinner.charcoal .path {
      stroke: #3E3E3E; }
    .spinner-container .spinner.white .path {
      stroke: #FFF; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124; } }

.farmer-app-container .farmer-app-info {
  padding-left: 3rem;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
  z-index: 2; }
  .farmer-app-container .farmer-app-info .farmer-app-info-content {
    width: fit-content; }

.farmer-app-container .farmer-app-example .app-img-background {
  border-left: 360px solid transparent;
  border-bottom: 485px solid #346e3d; }

@media (max-width: 768px) {
  .farmer-app-container {
    flex-direction: column !important; } }

.farmer-container {
  font-family: 'Roboto', sans-serif;
  padding-top: 1.5rem; }
  .farmer-container .farmer-header {
    color: #3E3E3E;
    font-size: 1.6rem;
    width: 27rem;
    margin: auto;
    text-align: center; }
  .farmer-container .farmer-description {
    font-size: 0.8rem;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 0.6rem 0;
    margin-bottom: 20px;
    color: #8F8F8F; }
  .farmer-container .market-categories {
    font-size: 1.25rem;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .farmer-container .market-categories .row {
      display: flex;
      flex-direction: row;
      width: 100%; }
      .farmer-container .market-categories .row .quadrant {
        display: flex;
        flex-direction: row;
        width: 50%; }
        .farmer-container .market-categories .row .quadrant .category-item-tile {
          width: 50%;
          display: inline-block;
          position: relative; }
          .farmer-container .market-categories .row .quadrant .category-item-tile:after {
            padding-top: 100%;
            display: block;
            content: ''; }
          .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0; }
            .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .flip-tile {
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0; }
            .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .img-tile {
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              flex: row;
              justify-content: center;
              align-items: center;
              text-align: center; }
            .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .back-tile {
              background-color: #FFF;
              box-shadow: 0px 1px 4px #00000029;
              color: #3E3E3E;
              font-size: 18px;
              font-weight: 100;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;
              background-repeat: no-repeat;
              background-size: cover;
              display: flex;
              flex: row 1;
              justify-content: center;
              align-items: center; }
              .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .back-tile .navbar-btn {
                height: 2.2rem;
                display: flex;
                flex-direction: row;
                width: 6.2rem;
                margin-right: 5rem;
                background-color: #387C3F;
                align-items: center;
                border-radius: 0.5rem;
                color: #FFF;
                font-size: 12px;
                justify-content: center;
                margin: 1rem auto; }
                @media (max-width: 768px) {
                  .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .back-tile .navbar-btn {
                    height: 1.7rem;
                    width: 4rem;
                    font-size: 8px; } }
              .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .back-tile.fungicide {
                background-image: url("/fungicide.png"); }
              .farmer-container .market-categories .row .quadrant .category-item-tile .react-card-flip .back-tile .content {
                background-color: rgba(255, 255, 255, 0.55);
                height: 20rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 1rem; }
        .farmer-container .market-categories .row .quadrant .img-tiles {
          background-repeat: no-repeat;
          background-size: cover;
          display: flex;
          flex: row;
          justify-content: center;
          align-items: center;
          height: 22rem;
          width: 22.5rem; }
        .farmer-container .market-categories .row .quadrant .fungicide {
          background-image: url("/fungicide.png"); }
        .farmer-container .market-categories .row .quadrant .herbicide {
          background-image: url("/herbicide.png"); }
        .farmer-container .market-categories .row .quadrant .soil {
          background-image: url("/soil.png"); }
        .farmer-container .market-categories .row .quadrant .plant-growth {
          background-image: url("/plantGrowth.png"); }
        .farmer-container .market-categories .row .quadrant .seed-treatment {
          background-image: url("/seedTreatment.png"); }
        .farmer-container .market-categories .row .quadrant .packhouse {
          background-image: url("/packHouse.png"); }
        .farmer-container .market-categories .row .quadrant .animal-health {
          background-image: url("/animalHealth.png"); }
        .farmer-container .market-categories .row .quadrant .other {
          background-image: url("/other.png"); }

@media (max-width: 768px) {
  .farmer-container .farmer-header {
    font-size: 1.4rem;
    width: 100%; }
  .farmer-container .farmer-description {
    font-size: 0.8rem; }
  .farmer-container .market-categories .row {
    display: flex;
    flex-direction: column; }
    .farmer-container .market-categories .row .quadrant {
      width: 100%; }
      .farmer-container .market-categories .row .quadrant .img-tile {
        font-size: 0.8rem; } }

.client-app-container .client-app-info {
  justify-content: flex-start;
  z-index: 2; }

.client-app-container .client-app-example .app-img-background {
  border-bottom: 430px solid #346e3d;
  border-right: 360px solid transparent;
  padding-top: 3rem; }

@media (max-width: 768px) {
  .client-app-container {
    flex-direction: column-reverse !important; } }

.app-container {
  font-family: 'Roboto',sans-serif;
  color: #3E3E3E;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .app-container.row {
    display: flex; }
  .app-container .app-header {
    font-size: 1.87rem;
    margin-bottom: 0.8rem; }
  .app-container .app-description {
    font-size: 1rem;
    color: #646464;
    width: 29rem;
    line-height: 1.5rem; }
  .app-container .app-links.mobile {
    display: none; }
  .app-container .app-links.desktop {
    display: initial; }
  .app-container .green {
    color: #387C3F; }
  .app-container .app-points {
    line-height: 2rem;
    font-size: 1.2rem;
    width: 33rem; }
  .app-container .android-btn {
    margin-right: 1rem; }
  .app-container ol {
    padding-inline-start: 24px !important; }
    .app-container ol li {
      margin-bottom: 0.5rem; }
  .app-container .app-example {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    height: 625px; }
    .app-container .app-example .app-example-child {
      position: absolute;
      right: 0;
      top: 0;
      left: 0;
      bottom: 0; }
    .app-container .app-example .triangle {
      z-index: 1; }
      .app-container .app-example .triangle.flipped {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1); }
    .app-container .app-example .app-img-container {
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center; }
    .app-container .app-example .app-img-background {
      width: 0;
      height: 0;
      border-bottom: 410px solid #346e3d; }
    .app-container .app-example .app-img {
      z-index: 1;
      height: 375px; }

@media (max-width: 768px) {
  .app-container {
    position: relative;
    flex-direction: column; }
    .app-container .app-header {
      font-size: 1.4rem;
      margin-bottom: 0.8rem; }
    .app-container .app-info {
      padding: 1.5rem;
      text-align: center; }
    .app-container .app-links.mobile {
      display: initial; }
    .app-container .app-links.desktop {
      display: none; }
    .app-container .app-points {
      width: 100%;
      font-size: 1.05rem;
      text-align: left; }
    .app-container .app-description {
      width: 100%;
      font-size: 0.8rem; }
    .app-container .app-example {
      width: 100%;
      height: calc(100vw / 200 * 250); }
      .app-container .app-example .app-example-child {
        right: 0;
        top: 0;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column; }
      .app-container .app-example .app-img {
        z-index: 1;
        height: 375px; } }

.client-container {
  padding: 1.5rem 0 0 2.5rem; }
  .client-container .category-container {
    width: 100%;
    position: relative;
    height: 16rem;
    margin: auto; }
    .client-container .category-container .container-child {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 5px;
      overflow: hidden;
      margin: 0 0 1.5rem 0; }
    .client-container .category-container .bg-image-container {
      z-index: 1; }
      .client-container .category-container .bg-image-container .bg-gradient-container {
        width: 25%;
        height: 100%;
        position: relative; }
        .client-container .category-container .bg-image-container .bg-gradient-container .bg-gradient-container-child {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0; }
        .client-container .category-container .bg-image-container .bg-gradient-container .bg-img {
          z-index: 0;
          width: 99%;
          height: 100%;
          object-fit: cover; }
        .client-container .category-container .bg-image-container .bg-gradient-container .bg-gradient {
          z-index: 1; }
    .client-container .category-container .bg-gradient-overlay {
      z-index: 2;
      width: 36rem; }
    .client-container .category-container .content-container {
      z-index: 3;
      display: flex;
      font-family: 'Roboto', sans-serif;
      color: #FFF; }
      .client-container .category-container .content-container .category-left-content {
        width: 18%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column; }
        .client-container .category-container .content-container .category-left-content .category-btn {
          width: 5.6rem;
          height: 1.875rem;
          background-color: #3E3E3E;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.7rem;
          font-weight: 100; }
        .client-container .category-container .content-container .category-left-content .category-title {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.8rem;
          margin: 1rem 0; }
        @media (max-width: 768px) {
          .client-container .category-container .content-container .category-left-content .category-title {
            font-size: 1.2rem; }
          .client-container .category-container .content-container .category-left-content .category-btn {
            width: 5rem; } }
      .client-container .category-container .content-container .category-right-content {
        align-items: center;
        display: flex;
        width: 88%; }
        .client-container .category-container .content-container .category-right-content .category-products {
          display: flex;
          flex-direction: row;
          padding-left: 25px;
          padding-right: 25px; }
  .client-container .slick-slider {
    display: grid; }
    .client-container .slick-slider .slick-list {
      max-width: 1100px; }
    .client-container .slick-slider .slick-arrow:before {
      color: #3E3E3E; }

.modal-btns {
  display: flex;
  justify-content: center; }
  .modal-btns .btn {
    width: 20rem;
    margin: 2rem 0.5rem; }

.request-modal-form {
  margin: auto; }

.request-modal-title {
  font-size: 20px;
  margin: 8px;
  color: #3E3E3E; }

.request-modal-content {
  color: #8F8F8F; }

.request-modal-image .illus {
  width: 100px;
  height: auto;
  object-fit: contain; }

@media (max-width: 768px) {
  .client-container {
    padding: 1.5rem 0 0 0.5rem; }
    .client-container .category-container .bg-image-container .bg-gradient-container {
      width: 50%; }
      .client-container .category-container .bg-image-container .bg-gradient-container .bg-gradient {
        z-index: 1; }
    .client-container .category-container .bg-gradient-overlay {
      width: 20rem; }
    .client-container .category-container .content-container .category-left-content {
      width: 30%; }
    .client-container .category-container .content-container .category-right-content {
      width: 75%; }
  .request-modal-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto; }
    .request-modal-form.form {
      width: 100%; }
      .request-modal-form.form .text-input {
        width: 100%; }
  .request-modal-image .illus {
    width: 80px; }
  .request-modal-title {
    font-size: 16px; } }

.footer-container {
  background-color: #3E3E3E;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  display: flex;
  flex-direction: column; }
  .footer-container .footer-container-content {
    padding: 1.5rem 7.75rem; }
  .footer-container .footer-mobile {
    display: flex;
    flex: 1;
    justify-content: space-around; }
  .footer-container .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .footer-container .ls-title {
    font-size: 0.87rem; }
  .footer-container .media-img {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.2rem;
    object-fit: cover; }
  .footer-container .row {
    display: flex;
    flex-direction: row; }
  .footer-container .media-imgs {
    margin-top: 0.8rem; }
  .footer-container .android {
    margin-right: 0.4rem; }
  .footer-container .app-title {
    width: 150px;
    margin-bottom: 0.8rem; }
  .footer-container .copyright {
    font-size: 0.6rem;
    border-top: solid 1px #387C3F;
    padding: 1rem 8rem; }

@media (max-width: 768px) {
  .footer-container .first {
    display: block; }
  .footer-container .footer-container-content {
    padding: 1.5rem 0.8rem; } }

.footer-list {
  width: 9.25rem; }
  .footer-list .list-title {
    font-size: 0.87rem; }
  .footer-list ul {
    padding-inline-start: 0;
    line-height: 11px; }
  .footer-list li {
    font-size: 0.6rem;
    font-weight: 100;
    list-style-type: none; }

.btn {
  color: #FFF;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  color: #FFF;
  height: 3.2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer; }
  .btn .btn-title {
    cursor: pointer; }
  .btn.greybg {
    background-color: #8F8F8F;
    cursor: not-allowed; }
    .btn.greybg .btn-title {
      cursor: not-allowed; }
  .btn.greenbg {
    background-color: #387C3F;
    cursor: pointer; }
    .btn.greenbg .btn-title {
      cursor: pointer; }

.modal-container {
  display: block;
  position: fixed;
  z-index: 105;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column; }
  .modal-container .modal-filler {
    flex: 1; }
  .modal-container .modal-middle-filler {
    display: flex;
    flex-direction: row; }
  .modal-container .modal-content {
    background-color: #FFF;
    margin: auto;
    padding: 40px;
    width: 700px;
    border-radius: 5px;
    position: relative; }
  .modal-container .close-ic {
    display: flex;
    position: absolute;
    right: 2.5rem;
    top: -20px;
    background-color: #FFF;
    box-shadow: 0px 1px 6px #00000029;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    cursor: pointer;
    justify-content: center; }

@media (max-width: 768px) {
  .modal-container .modal-content {
    width: 12rem;
    padding: 15px; }
  .modal-container .close-ic {
    right: 1.5rem;
    top: -12px;
    width: 25px;
    height: 25px;
    font-size: 0.6rem; } }

.green {
  color: #387C3F; }

.row {
  display: flex;
  flex-direction: row; }

.roboto {
  font-family: 'Roboto', sans-serif; }

.center {
  margin: auto; }

.pointer {
  cursor: pointer; }

.justify-content-center {
  display: flex;
  justify-content: center; }

.center-text {
  text-align: center; }
