.blog-post{
    color: $khula-charcoal !important;

    a{
        text-decoration: none !important;
    }
    
    .back-btn{
        font-size: 14px;
        font-weight: 500;
        margin: 30px 0 50px;
        margin-left: 130px;
        color: $khula-charcoal !important;
        height: 20px;
        span{
            margin-right: 10px;
        }
    }
    .blog-post-container{
        margin-left: 130px;
        .blog-author{
            font-size: 14px;
            font-weight: 100;
            margin-top: 30px;
        }
        .blog-title{
            font-size: 30px;
            font-weight: 600;
            margin-top: 16px;
        }
        .blog-content{
            position: relative;
            margin-top: 30px;
            font-weight: 500;
            font-size: 14px;
            width: 80vw;
        }
        blockquote{
            font-style: italic;
            font-weight: 100;
        }
        figure{
            position: relative;
            margin: unset;
            img{
                border-radius: 5px;
                width: 50%;
                height: auto;
                aspect-ratio: unset;
            }
        }
        h2{
            font-size: 26px;
        }
    }
    
}