.blog-post{
    color: $khula-charcoal !important;

    a{
        text-decoration: none !important;
    }
    
    .back-btn{
        font-size: 14px;
        font-weight: 500;
        margin: 30px 0 50px;
        margin-left: 130px;
        color: $khula-charcoal !important;
        height: 20px;
        span{
            margin-right: 10px;
        }
    }
    .blog-post-container{
        margin-left: 130px;
        .blog-author{
            font-size: 14px;
            font-weight: 100;
            margin-top: 30px;
        }
        .blog-title{
            font-size: 30px;
            font-weight: 600;
            margin-top: 16px;
        }
        .blog-content{
            position: relative;
            margin-top: 30px;
            font-weight: 500;
            font-size: 14px;
            width: 80vw;
        }
        blockquote{
            color: $khula-green;
            font-size: 20px;
            border-left: solid 8px;
            margin: unset;
            border-radius: 3px;
            padding-left: 20px;
            height: 30px;
            display: flex;
            align-items: center;
        }
        figure{
            position: relative;
            margin: unset;
            img{
                border-radius: 5px;
                width: 50%;
                height: auto;
                aspect-ratio: unset;
            }
        }
        h2{
            font-size: 26px;
        }
        
    }
    .navigation{
        display: flex;
        font-weight: 500;
        color: white;
        margin-left: 130px;
        width: 225px;
        justify-content: space-between;
        margin-bottom: 20px;
        .btn{
            background-color: $khula-green;
            width: 100px;
            height: 27px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            justify-content: center;
            font-size: 10px;
        }
    }
    .more-posts{
        .more-posts-heading{
            margin-left: 130px;
            font-size: 20px;
            font-weight: 500;
        }
        .article-tile{
            width: 20%;
            height: 250px;
            .article-image{
                height: 150px;
            }
            .article-title{
                font-size: 16px;
            }
        }
    }
    
}